/* -----------------main------------------- */

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.8 ;
  text-decoration: none;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
}

main h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 55px;
}

.blog-wrapper {
  width: 1152px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 64px;
  box-sizing: border-box;
}

.blog-wrapper p {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
}

.blog-inner {
  width: 320px;
  margin-bottom: 63px;
  transition: box-shadow .10s;
}

.blog-inner:hover{
  box-shadow: 0 6px 12px #999;
}

.blog-inner img {
  width: 320px;
  height: 206px;
  vertical-align: top;
}

.blog-text {
  width: 100%;
  height: 196px;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}

.blog-text p {
  margin-bottom: 17px;
}

.read-wrapper {
  width: 75px;
  height: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 16px;
  bottom: 16px;
  overflow: hidden;
}

.read-wrapper p {
  font-size: 12px;
  margin-bottom: 14px;
}


.read-border {
  display: block;
  background: #000;
  height: 1px;
  width: 16px;
  transition: transform 0.4s;
}

.blog-inner:hover .read-border {
  transform:scaleX(-7.5);
}

.more-wrapper {
  width: 1152px;
  display: flex;
  justify-content: flex-end;
}

.more-wrapper p {
 font-weight: bold;
 margin-right: 20px; 
}

footer {
  width: 100%;
  height: 128px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff;
}


/* --------------------スマフォ用-------------------- */
@media screen and (max-width: 767px){
  body {
    max-width: 750px;
  }

  main {
    padding: 13.33333333vw 0 5.3333333vw;
    box-sizing: border-box;
  }

  main h1 {
    font-size: 6.2555555vw;
    font-weight: bold;
    margin-bottom: 4vw;
  }

  .blog-wrapper {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0 8%;
    box-sizing: border-box;
  }

  .blog-wrapper p {
    font-size: 3.2vw;
    letter-spacing: 0;
  }

  .blog-inner {
    width: 100%;
    height: 105.73333333vw;
    margin-bottom: 6%;
  }

  .blog-inner img {
    width: 100%;
    height: auto;
  }

  
.blog-text {
  height: 52.533333333333vw;
  padding: 5%;
}

.blog-text p {
  margin-bottom: 5%;
}

.read-wrapper {
  width: 19vw;
  height: 10.666666666vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 6%;
  bottom: 6%;
}

.read-wrapper p {
  font-size: 2.666666vw;
  margin-bottom: 0;
}

.read-border {
  display: block;
  background: #000;
  width: 4.2666666vw;
  height: 1px;
  margin-top: 14px;
}

.blog-inner:hover .read-border {
  transform:scaleX(-6);
}
  .more-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  
.more-wrapper p {
  font-weight: bold;
  margin-right: 20px; 
 }
 
 footer {
   width: 100%;
   height: 18.6666666vw;
   background: #000;
   display: flex;
   justify-content: center;
 }

 footer p {
   font-size: 2.8vw;
 }
 
 .fa-chevron-right {
   margin-right: 15px;
 }


}