.container {
    max-width: 1152px;
    /* margin: 0 auto; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 640px;
    padding-top: 64px;
}

#nav {
    height: 128px;
    list-style: none;
    text-align:right;
}
   
#nav li {
    text-align: center;
    display:inline; 
    padding:0 10px;
    font-size: 16px;
}
   
#nav li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

/* header photo */
.main-photo{
    margin: 0 auto;
}

.top-logo {
    position: absolute;
    top: 11px;
    left: 0px;
}

.sign-logo {
    position: absolute;
    bottom: 9px;
    right: 3px;
}

h1 {
    font-size: 24px;
}