/* header {
    width: 100%;
} */
.container {
    max-width: 1152px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav {
    width: 100%;
    height: 128px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
   
#nav li {
    text-align: center;
    display:inline; 
    padding:0 10px;
    font-size: 16px;
}
   
#nav li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

/* header photo */
.main-photo{
    margin: 0 auto;
    width: 1024px;
}

.top-logo {
    position: absolute;
    top: 11px;
    left: 0px;
    z-index: 10;
}

.sign-logo {
    position: absolute;
    bottom: 15px;
    right: 3px;
    z-index: 10;
}

header p {
    margin-top: 19px;
    font-size: 20px;
    font-weight: normal;
    font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif;
}

.header-br{
    display: none;
}

/* スマフォ用 */
@media screen and (max-width: 767px){
    #nav {
        display: none;
    }

    .container{
        position: static;
    }

    .main-photo{
        margin: 0 auto;
        width: 400px;
    }

    .top-logo {
        position: static;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 35%;
    }

    .center-img {
        width: 100%;
        height: auto;
    }

    .sp-img{
        position: relative;
    }

    .sign-logo{
        position: absolute;
        width: 60%;
        top: 14px;
        left: 10px;
    }

    header p {
        text-align: center;
    }

    .header-br{
        display: block;
    }

}

